In [0]:
import requests
import json
import pandas as pd
import sqlite3

In [0]:
url = "https://api.openaq.org/v1/cities"
response = requests.get(url)
print(response)

<Response [200]>

In [0]:
type(response.text)

str

In [0]:
type(json.loads(response.text))

dict

In [0]:
val = json.loads(response.text)
val.keys()

dict_keys(['meta', 'results'])

In [0]:
val["results"][2]["locations"]

1

In [0]:
locate_ls = []
for location in range(len(val["results"])):
  # print(val["results"][location]["locations"])
  locate_ls.append(val["results"][location]["locations"])

In [0]:
len(locate_ls)

100

In [0]:
locate_ls[:5]

[2, 1, 1, 1, 2]

In [0]:
df = pd.DataFrame(val["results"])
df.head()

  country                name                city   count  locations
0      AD  Escaldes-Engordany  Escaldes-Engordany  107982          2
1      AD              unused              unused    8582          1
2      AE           Abu Dhabi           Abu Dhabi   34181          1
3      AE               Dubai               Dubai   27240          1
4      AE                 N/A                 N/A   13502          2

In [0]:
conn = sqlite3.connect("test.sqlite3")

In [0]:
df.to_sql("test.sqlite3", conn)